
form.config-enforce-enforced-configs-form tr.enforced a {
    font-weight: bold;
}
form.config-enforce-enforced-configs-form tr.enforced.level-20,
form.config-enforce-enforced-configs-form tr.enforced.level-20 li {
  background-color: var(--config-enforce-background-colour-level-20);
}
form.config-enforce-enforced-configs-form tr.enforced.level-10,
form.config-enforce-enforced-configs-form tr.enforced.level-10 li {
  background-color: var(--config-enforce-background-colour-level-10);
}
form.config-enforce-enforced-configs-form tr.enforced.level-0,
form.config-enforce-enforced-configs-form tr.enforced.level-0 li {
  background-color: var(--config-enforce-background-colour-level-0);
}

form.config-enforce-devel-modal div.form-wrapper,
form.config-enforce-devel-generate-from-modules-form div.form-wrapper {
    padding-left: 1em;
}
