#logo {
  width: 80%;
}

#site-title {
  font-size: xx-large;
  font-weight: 900;
}

#sidebar,
#header-wrapper,
#homelinks {
  border-color: #323232;
  background: #323232;
}

.searchbox {
  border: red;
  background: whitesmoke;
}

#search-by,
.searchbox label,
.searchbox span,
.searchbox ::placeholder {
  color: dimgray !important;
}

